from typing import Optional
from pydantic import BaseModel

class {{ model.class_name }}(BaseModel):
{% for prop in model.properties %}
    {{ prop.name }}: {{ prop.type }}{% if prop.default is not none %} = {{ prop.default }}{% endif %}

{% endfor %}
